@import '~bootstrap/scss/bootstrap';

.form-group {
  margin-top: 15px;
}

.container {
  margin-top: 6rem;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.w-full {
  width: 64vw;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.with-bg {
  min-height: 85vh;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 10px;
}
